<div class="nine columns">
  <h3><%= @title %></h3>

  <%= @description %>
</div>

<div class="seven columns">
  <h3>Form</h3>
  <form method="post" action="/<%= @filename %>">
    <input type="hidden" name="filename" value="<%= @filename %>" />
    <input type="hidden" name="token" value="<%= @token %>" />
    <input type="hidden" name="enrollment" value="<%= @enrollment %>" />

    <%= @form %>

    <% if @submit %>
      <input type="submit" name="submit" value="Submit">
    <% end %>
  </form>
</div>
